<!-- templates/base.html -->
 {% load static %}
 <html>

 <head>
    <title>My (new) blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
 </head>

 <body>
   <!-- Navigation bar container -->
   <div class="navbar">
      <ul>
         <!-- Navigation links -->
         <li><a href="home.html">Home</a></li>
         <!-- Dropdown menu aligned to the right -->
         <li class="dropdown">
               <a class="dropbtn">Post</a>
               <!-- Dropdown content with additional navigation links -->
               <div class="dropdown-content">
                  <a href="post_new.html">New Post</a>
                  <a href="post_detail.html">View Post</a>
               </div>
         </li>
      </ul>
   </div>
   <div>
     <header>
      <div class="center">
         <h1>Sample Blog Website</h1>
      </div>
     </header>
   </div>
   <!-- <div>
      <h1><a href="{% url 'home' %}"> My blog</a></h1>
   </div>

   <div>
      <a href="{% url 'post_new' %}">add new blog post</a>
   </div>
     {% if user.is_authenticated %}
     <p>Hi {{ user.username }}!</p>
     <form action="{% url 'logout' %}" method="post">
	     {% csrf_token %}
	     <button type="submit">Log Out</button>
     </form>     
     {% else %}
     <p>You are not logged in.</p>
     <a href="{% url 'login' %}"Log in</a>
     {% endif %}

    {% block content %}
    {% endblock content %}
   -->
 </div>
 </body>

 </html>
