/* static/css/base.css */
/* static/css/base.css */


body {
  background-image: linear-gradient(to bottom right, #000814, #003459);
  font-family: verdana;
}

a {
  text-decoration: none;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 70%;
  text-align: center;
}

h1 {
  color: #e5e5e5;
  font-size: 5em
}

button {
  color: #edf2f4;
}

.post-entry {
  margin-bottom: 2rem;
}

.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}


.post-entry p {
  margin: 0;
  font-weight: 400;
}

